/* #root{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
#btn {
    padding: 10px;
    width: 150px;
    background: #3a17c5;
    color: rgb(236, 229, 229);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    align-items: center;
    border: none;
    justify-content: center;
    transform: translate(-50%, 90%);
    margin-left: 80px;
    margin-bottom: 30px;
    
  }  
#btn:hover {
    background-color: #bbb;
    color: #3a17c5;
    border-radius: 15px;
  }
  #inputVal{
  margin: 0;
  border: none;
  border-radius: 15px;
  width: 80%;
  padding: 10px;
  float: left;
  font-size: 18px;
  margin-left: -4%;
  text-align: left;
  align-items: center;
  justify-content: center;
  }
  #inputAns{
    margin: 0;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
  }
  #btn_1{
    padding: 5px;
    width: 150px;
    margin-top: 120px;
    margin-left: 150px;
    background: #3a17c5;
    color: rgb(236, 229, 229);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    align-items: center;
    border: none;
    justify-content: center;
    transform: translate(-50%, -90%);  
  }
  #btn_1:hover{
    background-color: #bbb;
    color: #3a17c5;
    border-radius: 15px;
  }
  #container{
    justify-content: center;
    width: 40%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%, 50%);
    left: 200px;
    background: white;
    border-radius: 10px;
    border-radius: 38px;
    background: #e0e0e0;
    margin-bottom: 20px;
  }
  #second_container {    
    justify-content: center;
    width: 70%;
    min-height: 20vh;
    min-width: 450px;
    position: relative;
    transform: translate(-50%, 50%);
    left: 200px;
    background: white;
    border-radius: 10px;
    border-radius: 38px;
    background: #e0e0e0;
    margin-bottom: 20px;
  }
  #third_container{
    justify-content: center;
    width: 50%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%, 50%);
    left: 200px;
    background: white;
    border-radius: 10px;
    border-radius: 38px;
    background: #e0e0e0;
    margin-bottom: 20px;
    padding: 60px 40px;
    color: #3a17c5;
  }
  #game_over{
    font-size: 40px;
    text-align: center;
  }
  #time_spent{
    margin-top: 20px;
    text-align: center;
  }
  #try_again{
    padding: 5px;
    width: 150px;
    margin-top: 120px;
    margin-left: 170px;
    background: #3a17c5;
    color: rgb(236, 229, 229);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    align-items: center;
    border: none;
    justify-content: center;
    transform: translate(-50%, -90%); 
  }
  #try_again:hover{
    background-color: #bbb;
    color: #3a17c5;
    border-radius: 15px;
  }
  .header{
    background-color: #3a17c5;
    padding: 30px 40px 30px 40px;
    color: #3a17c5;
    text-align: center;
  }
  .second_header{
    background-color: #3a17c5;
    padding: 30px 40px 40px;
    color: #3a17c5;
    text-align: center;
  }

  p{
    font-size: 20px;
    text-align: left;
    padding: 10px;
  }
  .active{
    opacity: 0;
  }